{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<section class="kategori-menu d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        {% for data in datas %}
            <div>{{ data }}</div>
        {% endfor %}
        <div class="row">
            <div class="col-md-3 mb-3">
                <a href="/hackathon/checkout.html">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assests/images/tutor/daffa.png') }}" class="card-img-top" alt="tutor daffa">
                        <div class="card-body">
                          <h5 class="card-title">Daffa Arviano</h5>
                          <p class="card-text">Mahasiswa Teknik Informatika terbaik, juara 1 hackathon.</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="/hackathon/checkout.html">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assests/images/tutor/daffa.png') }}" class="card-img-top" alt="tutor daffa">
                        <div class="card-body">
                          <h5 class="card-title">Daffa Arviano</h5>
                          <p class="card-text">Mahasiswa Teknik Informatika terbaik, juara 1 hackathon.</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="/hackathon/checkout.html">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assests/images/tutor/daffa.png') }}" class="card-img-top" alt="tutor daffa">
                        <div class="card-body">
                          <h5 class="card-title">Daffa Arviano</h5>
                          <p class="card-text">Mahasiswa Teknik Informatika terbaik, juara 1 hackathon.</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="/hackathon/checkout.html">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assests/images/tutor/daffa.png') }}" class="card-img-top" alt="tutor daffa">
                        <div class="card-body">
                          <h5 class="card-title">Daffa Arviano</h5>
                          <p class="card-text">Mahasiswa Teknik Informatika terbaik, juara 1 hackathon.</p>
                        </div>
                      </div>
                </a>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <a href="/hackathon/checkout.html">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assests/images/tutor/daffa.png') }}" class="card-img-top" alt="tutor daffa">
                        <div class="card-body">
                          <h5 class="card-title">Daffa Arviano</h5>
                          <p class="card-text">Mahasiswa Teknik Informatika terbaik, juara 1 hackathon.</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="/hackathon/checkout.html">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assests/images/tutor/daffa.png') }}" class="card-img-top" alt="tutor daffa">
                        <div class="card-body">
                          <h5 class="card-title">Daffa Arviano</h5>
                          <p class="card-text">Mahasiswa Teknik Informatika terbaik, juara 1 hackathon.</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="/hackathon/checkout.html">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assests/images/tutor/daffa.png') }}" class="card-img-top" alt="tutor daffa">
                        <div class="card-body">
                          <h5 class="card-title">Daffa Arviano</h5>
                          <p class="card-text">Mahasiswa Teknik Informatika terbaik, juara 1 hackathon.</p>
                        </div>
                      </div>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a href="/hackathon/checkout.html">
                    <div class="card">
                        <img src="{{ url_for('static', filename='assests/images/tutor/daffa.png') }}" class="card-img-top" alt="tutor daffa">
                        <div class="card-body">
                          <h5 class="card-title">Daffa Arviano</h5>
                          <p class="card-text">Mahasiswa Teknik Informatika terbaik, juara 1 hackathon.</p>
                        </div>
                      </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}