{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="registration d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {% for message in get_flashed_messages(with_categories=true) %}
                            {% if message[0] == "error" %}
                            <div class="mb-2" style="color: red;">{{ message[1] }}</div>
                            {% elif message[0] == "success" %}
                            <div class="mb-2" style="color: green;">{{ message[1] }}</div>
                            {% endif %}
                        {% endfor %}
                        <form id="loginForm" class="register" action="{{ url_for('auth.register' )}}" method="post">
                            <label for="fullName">Nama lengkap</label>
                            <input id="fullName" type="name" name="name" placeholder="Masukan nama lengkap" value="{{ request.form['name'] }}" required>
                            <label for="inputEmail">Email</label>
                            <input id="inputNumber" type="email" name="email" placeholder="Masukan email" value="{{ request.form['email'] }}" required>
                            <label for="inputPassword">Password</label>
                            <input id="inputPassword" type="password" name="password" placeholder="Masukan password (minimum 6 karakter)" pattern=".{6,}" required>
                            <label for="nim">NIM</label>
                            <input id="nim" type="number" name="nim" placeholder="Masukan NIM" value="{{ request.form['nim'] }}" required>
                            <label for="prodi">Prodi</label>
                            <input id="prodi" type="text" name="prodi" placeholder="Masukan prodi" value="{{ request.form['prodi'] }}" required>
                            <label for="angkatan">Angkatan</label>
                            <input id="angkatan" type="number" name="angkatan" placeholder="Masukan angkatan" value="{{ request.form['angkatan'] }}" required>
                            <button id="buttonLogin" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}