{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="registration d-flex flex-column justify-content-center align-items-center">
  <div class="container">
      <div class="row">
          <div class="col-md-12 mb-3">
              <div class="card">
                  <div class="card-body">
                      <form id="loginForm" class="register" action="connect.php" method="post">
                          <label for="fullName">Nama lengkap</label>
                          <input id="fullName" type="name" name="fullName" placeholder="Masukan nama lengkap" required>
                          <label for="nim">NIM</label>
                          <input id="nim" type="text" name="nim" placeholder="Masukan NIM" required>
                          <label for="prodi">Prodi</label>
                          <input id="prodi" type="number" name="prodi" placeholder="Masukan prodi" required>
                          <label for="inputEmail">Email</label>
                          <input id="inputNumber" type="number" name="number" placeholder="Masukan email" required>
                          <label for="inputPassword">Password</label>
                          <input id="inputPassword" type="password" name="password" placeholder="Masukan password" required>
                          <button id="buttonLogin" type="submit">Submit</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}