{% extends 'base.html' %}

{% block title %}Create Course Ad{% endblock %}

{% block content %}
<section class="tutor-iklan">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Buat iklan tutor Anda sekarang!</h1>
                <div class="card">
                  <div class="card-body">
                      <form id="loginForm" class="register" action="{{ url_for('tutor.create.course_detail') }}" method="post">
                            <input type="hidden" name="course_prodi" value="{{ request.args.get('category') }}">
                            <label for="name-course">Nama course</label>
                            <input id="name-course" type="text" name="course_name" list="existing-course-list" placeholder="Masukan nama course" required>
                            <datalist id="existing-course-list">
                                {% for data in datas %}
                                    <option value="{{ data['course_name'] }}">{{ data['course_name'] }}</option>
                                {% endfor %}
                            </datalist>
                            <label for="tarif">Tarif per jam</label>
                            <input id="tarif" type="number" min="0" step="100" name="hourly_fee" placeholder="Masukan tarif" required>
                            <label for="deskripsi-course">Deskripsi course</label>
                            <textarea id="deskripsi-course" name="course_description" rows="10" cols="39" placeholder="Masukan deskripsi course" required></textarea>
                            <label class="mt-3" for="gambar">Masukan foto (opsional)</label>
                            <input type="file" accept="image/png, image/jpeg" multiple>
                            <button id="buttonLogin" type="submit">Submit</button>
                      </form>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}