<!-- Footer -->
<section class="footer2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            <img src="/hackathon/assests/images/pator.png.png" alt="logo" width="200px">
            <p>Jl. Gatot Subroto No.Kav. 97, RT.4/RW.4, Mampang Prpt., Kec. Mampang Prpt., Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12790</p>
            </div>
            <div class="col-md-3">
            <h5>Feature</h5>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Tentang</a></li>
                <li><a href="#">Testimonial</a></li>
            </ul>
            </div>
            <div class="col-md-3 about">
            <h5>Tentang kami</h5>
            <ul>
                <li><a href="#">Tentang</a></li>
                <li><a href="#">Syarat dan ketentuan</a></li>
                <li><a href="#">Kebijakan privasi</a></li>
            </ul>
            </div>
            <div class="col-md-3 contact">
            <h5>Kontak kami</h5>
                <a href="#" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="email"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>
</section>