* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #ECF1F0;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 40px 10px 70px;
    border-left: none;
    border-right: none;
    justify-content: space-around;
}

.navbar {
    background-color: #ECF1F0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
    font-size: 18px;
}

.nav-item {
    padding-right: 50px;
    font-weight: bold;
    color: #434343;
    justify-content: space-between;
} 

.nav-link:hover {
    color: #33A18E;
}

.dropdown-menu {
    display: none;
}

.daftar {
    margin-right: 10px;
}

.collapse .daftar a {
    text-decoration: none;
}

.collapse .btn-daftar {
    background-color: #ECF1F0;
    width: 118px;
    height: 55px;
    padding-top: 10px;
    border-style: none;
    border-radius: 8px;
    border: 2px solid #434343;
    color: #33A18E;
    font-size: 20px;
    font-weight: 600;
}

.collapse .btn-masuk {
    background-color: #33A18E;
    width: 118px;
    height: 55px;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.dropdown-menu ul {
    list-style: none;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #434343;
    font-size: 18px;
}

.nav-item .dropdown-menu a {
    color: #434343;
}

.dropdown-menu {
    display: none;
}

.collapse ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    background: #33A18E;
    width: 300px;
}

.collapse ul li:hover .dropdown-menu {
    display: flex;
}

.collapse ul li:hover .dropdown-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.collapse ul li:hover .dropdown-menu ul li:last-child {
    border-bottom: none;
}

.collapse ul li:hover .dropdown-menu ul li:hover {
    color: #fff;
    border-radius: 5px;
}

/*=== Sign up ===*/
.regist .card {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 40px;
    overflow: auto;
    padding: 34px;
    font-size: 18px;
}

.register input {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 16px;
    padding: 8px;
    margin: 8px 0 16px 0;
    border: 1px solid #a0a0a0;
    border-radius: 8px;
}

.register label {
    font-size: 20px;
    color: #434343;
}

.register input[type="text"],
.register input[type="name"],
.register input[type="number"],  
.register input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.register button {
    margin-top: 32px;
    padding: 8px 32px;
    background-color: #33A18E;
    width: 180px;
    height: 60px;
    background-color: #33A18E;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    font-size: 20;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.registration .card {
    width: 40%;
    height: auto;
    top: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 30px;
    overflow: auto;
    padding: 34px;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .regist .card {
        width: 100%;
        height: auto;
    }
    
    .daftar {
        background: #FF4DB5;
        max-width: 100%;
        height: auto;
    }
    .registration .card {
        width: 100%;
        height: auto;
    }
}


/*=== Login  ===*/
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%,50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"], 
.popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
} 

.popup .form .form-element button {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #33A18E;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popup .form .form-element .btn-google {
    background: #fff;
    color: #434343;
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.20)
}

.popup .form .form-element img {
    padding-right: 5px;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
}

/*=== Hero ===*/
#hero {
    
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

#hero h1 {
    margin: 0 0 10px;
    font-size: 54px;
    font-weight: 900;
    line-height: 70px;
    color: #434343;
}

#hero p {
    color: #9D9D9D;
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 500;
}

.hero-text {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    padding-left: 50px;
}

.hero-image {
    padding-top: 100px;
}

.hero-image2 {
    margin-bottom: 150px;
}

#hero input {
    width: 350px;
    height: 60px;
    border: none;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
    border-radius: 8px;
}

#hero .join {
    width: 180px;
    height: 60px;
    background-color: #33A18E;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    font-size: 24;
    padding-top: 15px;
}

.hero-text .join {
    font-size: 20px;
    font-weight: 600;
}

/*=== Tutor ===*/
.tutor-section {
    color: #434343;
    margin-top: 100px;
}

.tutor-section h1 {
    margin: 0 0 10px;
    font-size: 54px;
    font-weight: 900;
    line-height: 70px;
    color: #434343;
}

.tutor-section .btn-tutor {
    background: #33A18E;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    width: 260px;
    height: 60px;
    border-radius: 10px;
    border-style: none;
    padding-top: 10px;
}

.tutor-section .btn:hover {
    background: #33a18fc9;
    font-size: 24px;
    border-style: solid;
    width: 260px;
    height: 60px;
    border-radius: 10px;
    transition: 0.3s;
    border-style: none;
    padding-top: 10px;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tutor-section .card {
    width: 100%;
    height: 100%;
}

.card {
    color: #434343;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}
 .card p {
    font-size: 18px;
    font-weight: 500;
    text-align: start;
    padding-top: 5px;
 }

/*=== Top Categories ===*/
.top-categories {
    margin-top: 100px;
    background: #33A18E;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
}
.top-categories .card {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.top-categories .card-text {
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.top-categories .card img {
    transform: scale(1); 
    transition: 0.3s ease-in-out;
}

.top-categories .card img:hover {
    transform: scale(1.1);
}


.top-categories h6 {
    font-size: 16px;
    text-align: end;
    color: #33A18E;
    font-weight: 600;
}

.top-categories ul {
    font-size: 18px;
    font-weight: 500;
}

.section-title h1 {
    font-size: 54px;
    font-weight: 700px;
    color: #434343;
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
    text-align: center;
    color: #fff;
}

.join-tutor {
    margin-top: 100px;
}

.tutor-join {
    background: linear-gradient(to right, rgba(51,161,142,100%), rgba(51,161,142,100%), rgba(67,67,67,0%)), url("assests/images/tutor/tutorr.png");
    background-size: cover;  
    background-repeat: no-repeat;
    position: center;
    width: 100%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.tutor-join h1 {
    color: #fff;
    font-weight: bold;
    font-size: 54px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.tutor-join .join {
    margin-top: 350px;
    margin-right: 50px;
    padding-top: 14px;
    width: 180px;
    height: 60px;
    background-color: #FD9469;
    border-radius: 8px;
    border-style: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

/*=== Homepage Login ===*/
.dropdown a {
    background: #33A18E;
    width: 118px;
    height: 55px;
    border-radius: 8px;
}

.dropdown a:hover {
    background: #33a18faf;
    border-radius: 8px;
    width: 118px;
    height: 55px;
}

.btn.show .btn:active {
    background-color: #33a18faf;
    border-color: #33A18E;
    border-radius: 8px;
    width: 118px;
    height: 55px;
}

.dropdown i {
    font-size: 30px;
    display: flex;
    padding-top: 4px;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown .dropdown-menu {
    width: 200px;
    background: #33A18E;
    font-size: 18px;
}

.dropdown a {
    font-weight: 700;
}

.dropdown ul li a:hover {
    color: #fff;
    background-color: #33A18E;
    border-radius: 0;
}

/*=== kategori menu ===*/
.kategori-menu {
    margin-top: 150px;
}

.kategori-menu a {
    text-decoration: none;
}

.kategori-menu .card {
    background: #CCEBE5;
    border-radius: 8px;
}

.kategori-menu .card img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 8px;
}

.kategori-menu h5 {
    font-size: 20px;
    color: #434343;
    font-weight: 700;
}

.kategori-menu h6 {
    font-size: 16px;
    color: #33A18E;
    font-weight: 600;
    margin-bottom: 0px;
}

.kategori-menu #stars {
    width: 150px;
    justify-content: start;
    align-items: start;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 22px;
}

.kategori-menu p {
    margin-bottom: 0rem;
    font-size: 20px;
    color: #434343;
    font-weight: 500;

}

.kategori-menu #harga {
    font-size: 24px;
    font-weight: 600;
}

/*=== Checkout ===*/
.checkout {
    margin-top: 150px;
}

.checkout .deskripsi {
    background: #33A18E;
    border-radius: 8px;
    height: 30vh;
}

.checkout h5 {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: start;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 50px;
}

.checkout .card {
    border-radius: 8px;
}

.checkout .card .card-title {
    color: #434343;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
}

.checkout .card p {
    font-size: 18px;
    font-weight: 500;
}

.checkout span {
    margin-left: -100px;
}

.checkout .btn-bayar {
    background: #33A18E;
    width: 350px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}

.checkout .btn-check {
    background: #33A18E;
    width: 300px;
    height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}

/*=== definition kursus ===*/
.definition-course h5 {
    font-size: 28px;
    color: #33A18E;
    font-weight: 700;
}

.definition-course p {
    padding-top: 10px;
    font-size: 20px;
    width: auto;
    height: 150px;
    color: #434343;
    font-weight: 500;
    text-align: start;
    text-align: justify;
}

.box .box-desk {
    background: #DDDDDD;
    border-radius: 8px;
    height: 120px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.box-desk img {
    width: 120px;
    height: 120px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.definition-course i {
    font-size: 30px;
    padding-top: 10px;
}

.definition-course ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
}

.definition-course ul li {
    padding-top: 10px;
}

/*=== deskripsi tutor ===*/
.deskripsi-tutor {
    margin-top: 100px;
}

.deskripsi-tutor h5 {
    font-size: 28px;
    color: #33A18E;
    font-weight: 700;
}

.deskripsi-tutor p {
    padding-top: 10px;
    font-size: 18px;
    width: auto;
    height: 150px;
    color: #434343;
    font-weight: 500;
    text-align: start;
    text-align: justify;
}

/*=== Ulasan ===*/
.ulasan {
    margin-top: 100px;
    color: #434343;
}

.ulasan h5 {
    font-size: 20px;
    color: #434343;
    font-weight: 700;
}

.ulasan .col-md-8 {
    background: #fff;
    border-radius: 8px;
    width: 67%;
    height: 120px;
}

.ulasan h6 {
    padding-top: 10px;
    font-size: 16px;
    color: #434343;
    font-weight: 700;
}

.ulasan img {
    width: 120px;
    padding-bottom: 20px;
}

.ulasan p {
    font-size: 18px;
    width: auto;
    height: 150px;
    color: #434343;
    font-weight: 500;
    text-align: start;
    text-align: justify;
}

/*=== Pembayaran ===*/
.pembayaran {
    margin-top: 150px;
}

.pembayaran .card {
    background: #CCEBE5;
    border-radius: 8px;
}

.pembayaran .card img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 8px;
}

.pembayaran .card h5 {
    font-size: 20px;
    color: #434343;
    font-weight: 700;
    padding-left: 0px;
}

.pembayaran h6 {
    font-size: 16px;
    color: #33A18E;
    font-weight: 600;
    margin-bottom: 0px;
}

.pembayaran #stars {
    width: 150px;
    justify-content: start;
    align-items: start;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 22px;
}

.pembayaran .card p {
    margin-bottom: 0rem;
    font-size: 20px;
    color: #434343;
    font-weight: 500;
    padding-left: 0px;
}

.pembayaran #harga {
    font-size: 24px;
    font-weight: 600;
}


.pembayaran .col-md-8 {
    background-color: #fff;
    height: auto;
    border-radius: 8px;

}

.pembayaran h5 {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 28px;
    color: #434343;
    font-weight: 700;
}

.pembayaran p {
    padding-left: 20px;
    font-size: 20px;
    color: #434343;
    font-weight: 500;
}

.pembayaran .tipe {
    margin-left: 20px;
    background: #ECF1F0;
    border-radius: 8px;
    height: 60px;
    width: 305px;
}


.pembayaran .btn-pesan {
    padding-top: 20px;
}

.pembayaran #btn-ovo {
    width: 120px;
    height: 60px;
    background-color: #fff;
    margin-left: 20px;
}

.pembayaran #btn-ovo img {
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
}

.pembayaran #btn-gopay {
    width: 120px;
    height: 60px;
    background-color: #fff;
    margin-left: 20px;
}


.pembayaran #btn-gopay img {
    padding-left: 0px;
    padding-right: 0px;
    width: 100px;
}

.pembayaran #btn-pesan {
    background: #33A18E;
    border-radius: 8px;
    width: 118px;
    height: 55px;
    border-style: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-left: 20px;
}

.pembayaran #btn-pesan:hover {
    background: #33a18faf;
    color: #fff;
}

/*=== Iklan ===*/
.tutor-iklan {
    margin-top: 130px;
    text-align: center;
}

.tutor-iklan h1 {
    font-size: 54px;
    font-weight: 900;
    line-height: 70px;
    color: #434343;
}

.tutor-iklan ul {
    margin-top: 28px;
    list-style: none;
    text-align: start;
    font-size: 20px;
}

.tutor-iklan button {
    width: 500px;
    height: 55px;
    background: #33A18E;
    color: #fff;
    font-size: 20px;
    text-align: start;
    margin-bottom: 10px;
}

.tutor-iklan .dropdown-menu {
    width: 300px;
}


.tutor-iklan button:hover {
    background: #33a18f9c;
}


/*=== Footer ===*/
.footer {
    margin-top: 100px;
}

.footer p {
    font-size: 20px;
    padding-top: 24px;
    color: #434343;
}

.footer h5 {
    font-size: 24px;
    color: #33A18E;
    font-weight: 600px;
}

.footer ul {
    padding-left: 0px;
}

.footer ul li {
    list-style: none;
    text-align: start;
    white-space: nowrap;
    position: relative;
    margin-top: 12px;
}

.footer a {
    text-decoration: none;
    color: #434343;
    font-size: 20px;
    align-items: center;
    margin-top: 1000px;
}

.footer .contact a {
    font-size: 52px;
    padding-left: 10px;
    color: #33A18E;
}

/*=== footer2 ===*/
.footer2 {
    margin-top: 250px;
}

.footer2 p {
    font-size: 20px;
    padding-top: 24px;
    color: #434343;
}

.footer2 h5 {
    font-size: 24px;
    color: #33A18E;
    font-weight: 600px;
}

.footer2 ul {
    padding-left: 0px;
}

.footer2 ul li {
    list-style: none;
    text-align: start;
    white-space: nowrap;
    position: relative;
    margin-top: 12px;
}

.footer2 a {
    text-decoration: none;
    color: #434343;
    font-size: 20px;
    align-items: center;
    margin-top: 1000px;
}

.footer2 .contact a {
    font-size: 52px;
    padding-left: 10px;
    color: #33A18E;
}